@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 300;
    src: url("./IRANSansMobile_Light.ttf") format("ttf");
}
@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 400;
    src: url("./IRANSansMobile_Regular.ttf") format("ttf");
}
@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 500;
    src: url("./IRANSansMobile_Medium.ttf") format("ttf");
}
@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 700;
    src: url("./IRANSansMobile_Bold.ttf") format("ttf");
}
